%text_p1 {
  font-size: 40px;
  font-size: clamp(36px, 10vw, 40px);
  line-height: 1;
  letter-spacing: 0;
  font-family: 'Young Serif';
  font-weight: 400;
}

%text_p2 {
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0;
  font-family: 'Young Serif';
  font-weight: 400;
}

%text_p3 {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  font-family: 'Outfit';
  font-weight: 600;
}

%text_p4 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: 'Outfit';
  font-weight: 400;
}

%text_p4b {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: 'Outfit';
  font-weight: 700;
}
