@use '@/styles/typography';

.root {
  color: var(--stone-600);
  padding-left: var(--space-100);
  
  &::marker {
    color: var(--brown-800);
    font-weight: 700;
    @extend %text_p4b;
  }
  
  > span {
    @extend %text_p4b;
  }
}
