:root {
  --rose-50: #fff7fb;
  --rose-800: #7a284e;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;

  --space-1600: 128px;
  --space-600: 48px;
  --space-500: 40px;
  --space-400: 32px;
  --space-300: 24px;
  --space-200: 16px;
  --space-150: 12px;
  --space-100: 8px;
}

body {
  background-color: var(--stone-100);
  padding: 
      clamp(0px, calc((100vw - 375px) * 0.19338422), var(--space-1600))
      clamp(0px, calc((100vw - 375px) * 0.19338422), var(--space-600));
}
